<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-searchbar></ion-searchbar>
    <ion-title>
      inicio
    </ion-title>
  </ion-toolbar>
</ion-header>
<div class="hide-scroll">
  <div class="viewport">
      
  </div>
</div>

<ion-content>
  <ion-card>
    <ion-card-header class="ios">
      <ion-img src="https://www.consumer.es/app/uploads/fly-images/301290/Plantas-reaccionan-a-la-voz-1-1200x550-cc.jpg" alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>
      
      <ion-icon name="flower-outline"></ion-icon>
      <ion-card-title>Se parte del cambio</ion-card-title>
      <ion-card-subtitle>Cuando plantamos arboles plantamos la semilla de la paz y de la esperanza</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-button fill="outline">Get Started</ion-button>
<ion-button fill="solid">Sig In</ion-button>
</ion-content>