
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
    <ion-title>
      Galeria
    </ion-title>
  </ion-toolbar>
</ion-header>

<div class="hide-scroll">
  <div class="viewport">
    <ion-img src="https://midias.correiobraziliense.com.br/_midias/jpg/2021/12/28/675x450/1_20211228132755578794o-7264352.jpg?20211228152702?20211228152702" alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>
<ion-item>
  <ion-textarea placeholder="Type something here" [autoGrow]="true"
    value="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tellus sem, auctor accumsan egestas sed, venenatis at ex. Nam consequat ex odio, suscipit rhoncus orci dictum eget. Aenean sit amet ligula varius felis facilisis lacinia nec volutpat nulla. Duis ullamcorper sit amet turpis sed blandit. Integer pretium massa eu faucibus interdum.">
  </ion-textarea>
</ion-item> 
  </div>
</div>
